ion-view(view-title="Новые Сообщения")
	ion-content.padding
		ul.list
			li.item(ng-repeat="item in model.all | orderBy:config.item.date:true | limitTo:50 track by item[config.item.id]")
				a(ng-href="#/tab/dash/{{item[config.item.id]}}/{{item[config.item.title]}}")
					| {{ item[config.item.title] }}
