ion-tabs.tabs-icon-top.tabs-color-active-positive
	ion-tab(title="Новые" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/view/new")
		ion-nav-view(name="new")
	ion-tab(title="Избранные" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/view/selected")
		ion-nav-view(name="selected")
	ion-tab(title="Прочитанные" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/view/read")
		ion-nav-view(name="read")
