ion-tabs.tabs-icon-top.tabs-color-active-positive
	ion-tab(title="Новые" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash")
		ion-nav-view(name="tab-dash")
	ion-tab(title="Избранные" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats")
		ion-nav-view(name="tab-chats")
	ion-tab(title="Прочитанные" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account")
		ion-nav-view(name="tab-account")
