doctype html
html
	head
		meta(charset="utf-8")
		title Админка
		link(rel="stylesheet" href="bootstrap-3.3.6/css/bootstrap.min.css")
		//link(rel="stylesheet" href="style.css")
		script(src="app.js")
	body(ng-app="feed-admin" ng-controller="Main")
		include posts.jade
		include post.jade
		div(ui-view)
