script(type="text/ng-template" id="post.html")
	.page-header: h3
		a(ui-sref="posts") Админка:
		| &nbsp;Сообщение Курса
	div(ng-controller="Post")
		.form-group: button.btn.btn-primary(
			ng-class="{ disabled: !post.title || post.delay == undefined || !post.content }"
			ng-click="save()") Сохранить
		.form-group
			label Название
			input.form-control(ng-model="post.title")
		.form-group
			label Задержка
			input.form-control(ng-model="post.delay", type="number")
		.form-group
			label HTML Сообщение
			textarea.form-control(ng-model="post.content")
		.well(ng-bind-html="post.content")
