script(type="text/ng-template" id="posts.html")
	| Посты
	a(ui-sref="post") Добавить
	div(ng-repeat="item in items | orderBy:item.delay")
		| {{ item.title }}
		| {{ item.delay }}
		button(ng-click="edit(post)") E
		button(ng-click="remove(post)") R
