script(type="text/ng-template" id="posts.html")
	.page-header: h3 Посты
	a.btn.btn-primary(ui-sref="add-post") Добавить
	ul.list-group
		li.list-group-item(ng-repeat="item in posts | orderBy:'delay'")
			| {{ item.title }}
			| {{ item.delay }}
			a.btn.btn-warning.glyphicon.glyphicon-edit(ui-sref="edit-post({ id: item.$id })")
			button.btn.btn-danger.glyphicon.glyphicon-remove(ng-click="remove(item)")
