script(type="text/ng-template" id="posts.html")
	| Посты
	a(ui-sref="add-post") Добавить
	div(ng-repeat="item in posts | orderBy:'delay'")
		| {{ item.title }}
		| {{ item.delay }}
		a(ui-sref="edit-post({ id: item.$id })") E
		button(ng-click="remove(item)") R
